@import '../scss/var';
@import '../scss/vendor';
@import'../scss/mixin';

html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
a,
a:hover {
  text-decoration: none;
}
.header{
  width: 100vw;
  line-height: 10rem;
  background: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0.5))$main-color;
    
  & .navbar-brand{
    color: $text-color;
    animation: music 1s linear infinite;
    animation-direction: alternate;

    & .fas{
        font-size: 4rem;
    }

    @keyframes music {
        from{
            transform: rotate(5deg);
        }
        to{
            transform: rotate(-5deg);
        }    
    }
  }
  & .navbar-nav{
    padding-left: 15rem;

    & .nav-item .nav-link{
        font-size:1.6rem;
        color: $text-color;
        text-transform: uppercase;
        padding-right: 3rem;
    }
    & .nav-item:last-child > .nav-link{
        padding-right: 0%;

    }
  }
  & .nav-item:hover > .nav-link,
  & .navbar-brand:hover{
    color: $primary-color;
  }
  & .my_btn{
    @include mybtn;
  }
}
